<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nobis porro expedita consectetur quibusdam labore eveniet ut, vero sint temporibus non dolorum ab ipsum vel blanditiis inventore tenetur error, impedit sed numquam qui laboriosam suscipit? Veritatis dicta aut incidunt fugit!</p>

    </div>
</div>